.process {
  background-color: $color-dark-blue;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  align-self: end;
  position: relative;

  &__text {
    font-size: 1.4rem;
    color: $color-pale-blue;
    margin-bottom: 2rem;
    word-spacing: 1.5px;
    opacity: 0.8;
    span {
      color: #fff;
    }
  }

  &__progress-bar {
    position: relative;
    height: 2rem;
    width: 50rem;
    background-color: $color-very-dark-blue;

    border-radius: 10px;
    margin-bottom: 0.5rem;
    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      left: 0;
      height: 100%;
      width: 40.75rem;
      background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
      );
    }
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $color-pale-blue;
      left: 39.75rem;
      border: solid 1px hsl(335, 100%, 65%);
      filter: saturate(150%);
    }
  }

  &__storage {
    color: $color-pale-blue;
    display: flex;
    justify-content: space-between;
  }

  &__message {
    display: flex;
    justify-content: space-between;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    padding: 1rem 2rem;
    right: 3.5rem;
    top: -25%;
    border-radius: 4px;
    font-size: 1.2rem;
    color: $color-very-dark-blue;
    span {
      margin-right: 1rem;
      font-size: 4rem;
      font-weight: 700;
    }
    &::after {
      position: absolute;
      display: block;
      content: '';
      background-color: inherit;
      width: 30%;
      height: 40%;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 100% 100%);
      bottom: -2rem;
      right: 0;
    }
  }

  @media only screen and (max-width: 59.375em) {
    padding: 2rem;
  }
}
