@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  width: 100%;
  height: 100%;
  font-size: 56.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 59.375em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  height: 100%; }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content) 1fr;
  grid-template-rows: 1fr min-content min-content 1fr;
  column-gap: 2rem; }
  @media only screen and (max-width: 59.375em) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr repeat(2, min-content) 1fr; } }

.app-container {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  z-index: 20;
  display: flex; }
  @media only screen and (max-width: 59.375em) {
    .app-container {
      justify-self: center;
      grid-column: 1/ -1;
      grid-row: 1/-1;
      flex-direction: column;
      justify-content: center; } }

.actions {
  background-color: #1d2c67;
  width: 40rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2.5rem 4rem;
  border-radius: 3px;
  border-top-right-radius: 30%;
  margin-right: 2rem; }
  .actions__logo {
    margin-bottom: 3rem; }
  .actions__btns {
    display: flex;
    justify-content: space-evenly; }
  .actions__icon {
    background-color: #0c122c;
    display: block;
    height: 5rem;
    width: 5rem;
    padding: 1.5rem;
    border-radius: 3px;
    cursor: pointer; }
    .actions__icon:not(:first-child) {
      margin-left: 2rem; }
  @media only screen and (max-width: 59.375em) {
    .actions {
      margin-bottom: 2rem;
      width: 90%; } }

.process {
  background-color: #1d2c67;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  align-self: end;
  position: relative; }
  .process__text {
    font-size: 1.4rem;
    color: #dddbff;
    margin-bottom: 2rem;
    word-spacing: 1.5px;
    opacity: 0.8; }
    .process__text span {
      color: #fff; }
  .process__progress-bar {
    position: relative;
    height: 2rem;
    width: 50rem;
    background-color: #0c122c;
    border-radius: 10px;
    margin-bottom: 0.5rem; }
    .process__progress-bar::before {
      position: absolute;
      content: '';
      display: inline-block;
      left: 0;
      height: 100%;
      width: 40.75rem;
      background-image: linear-gradient(to right, #ffa399, #ff4d97); }
    .process__progress-bar::after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #dddbff;
      left: 39.75rem;
      border: solid 1px #ff4d97;
      filter: saturate(150%); }
  .process__storage {
    color: #dddbff;
    display: flex;
    justify-content: space-between; }
  .process__message {
    display: flex;
    justify-content: space-between;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    padding: 1rem 2rem;
    right: 3.5rem;
    top: -25%;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #0c122c; }
    .process__message span {
      margin-right: 1rem;
      font-size: 4rem;
      font-weight: 700; }
    .process__message::after {
      position: absolute;
      display: block;
      content: '';
      background-color: inherit;
      width: 30%;
      height: 40%;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 100% 100%);
      bottom: -2rem;
      right: 0; }
  @media only screen and (max-width: 59.375em) {
    .process {
      padding: 2rem; } }

.bg {
  height: 100%;
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  z-index: 10; }
  .bg--top {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    height: 100%;
    background-image: linear-gradient(to right, #0c122c, #0c122c); }
    @media only screen and (max-width: 59.375em) {
      .bg--top {
        visibility: hidden; } }
  .bg--bottom {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    position: absolute;
    z-index: 10;
    top: 45%;
    height: 60%;
    background-size: cover;
    width: 100%;
    background-image: url("/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 59.375em) {
      .bg--bottom {
        background-image: url("/images/bg-mobile.png");
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        height: 100%;
        top: 0; } }
